################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/Versione 3.1.2.0/.vs/Hospitality Solution 3.1.2.0/v15/Server/sqlite3/db.lock
